<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
                        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chattalk.auth.mapper.UsersMapper">
    <select id="usersSelectOne001">
        SELECT USER_ID
             , USER_NAME
             , PASSWORD
          FROM USERS
         WHERE 1=1
           AND USER_ID = #{userId}
    </select>

    <select id="usersSelectOne002">
        SELECT USER_ID
             , USER_NAME
          FROM USERS
         WHERE 1=1
           AND USER_ID = #{userId}
    </select>

    <insert id="usersInsert001">
        INSERT INTO USERS (
            USER_ID,
            PASSWORD,
            USER_NAME
        )
        VALUES (
            #{userId},
            #{password},
            #{userName}
        )
    </insert>

    <update id="usersUpdate001">
        UPDATE USERS
           SET USER_NAME = #{userName}
        <if test="!password.equals('')">
            , PASSWORD = #{password}
        </if>
         WHERE 1=1
           AND USER_ID = #{userId}
    </update>
</mapper>